<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Barcode Scanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        My first ionic app !!
        <p>
            If you get lost, the
            <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will
            be your guide.
        </p>
    </div>
    <h1 align="center">
        <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
    </h1>

    <ion-card *ngIf="productFound">
        <ion-card-header>
            <h2>Price: $ {{ selectedProduct.price }}</h2>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <li>{{ selectedProduct.plu }}</li>
                <li>{{ selectedProduct.name }}</li>
                <li>{{ selectedProduct.desc }}</li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>
